
:root {
  --mainOrange: #F26419;
  --mainGrey: #2E2E2E;
  --mainLight: #F4EDE4;

  --secondaryAccent: #3A6F78;
  --secondaryDark: #2F3C7E;
}

body {
  background: rgb(214, 212, 212);
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: x-large;
  text-align: center;
  color: var(--mainGrey);
}


header .nav-button {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--mainOrange);
  visibility: hidden;   
  opacity: 0;
  font-size: 1.8rem;
}

.navbar-logo {
  height: 80%;
  width: auto;
  max-height: 48px;
  display: inline-block;
  vertical-align: middle;
}

.brand-navbar {
  background-color: var(--mainGrey) !important;
}

.brand-navbar .navbar-brand,
.brand-navbar .nav-link,
.brand-navbar .navbar-toggler {
  color: var(--mainLight) !important; /* Change text color to light */
}

.brand-navbar .nav-link.active {
  color: var(--mainOrange) !important;
}

/* Orange border on hover/focus */
.brand-navbar .nav-link:hover,
.brand-navbar .nav-link:focus {
  color: var(--secondaryAccent) !important;
  background-color: transparent !important;
  border-color: var(--mainOrange) !important;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
}

.custom-toggler .navbar-toggler:hover,
.custom-toggler .navbar-toggler:focus {
  border-color: var(--mainOrange) !important;
}

.custom-toggler.navbar-toggler:hover,
.custom-toggler.navbar-toggler:active{
  border-color: var(--mainOrange) !important;
  border-width: 2px;
  border-style: solid;
  border-radius: 4px;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

label {
  font-size: 15px;
  display: block;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 5px;
  text-align: left;
  color: var(--mainLight);
  font-weight: bold;
}

input {
  display: block;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
  font-size: 12px;;
}

select {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
}

textarea {
  resize: none;
  width: 98%;
  min-height:100px;
  max-height: 150px;
}

.form {
  background-color: var(--mainGrey);
  color: var(--mainLight);
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  transition: transform 0.2s;
  width: 100%;
  text-align: center;
  margin: auto;
  margin-top: 20px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: var(--mainLight);
}

button {
  padding: 10px 15px;
  border-radius: 6px;
  margin: 15px;
  border: none;
  color: var(--mainGrey);
  cursor: pointer;
  background-color: var(--mainOrange);
  width: 40%;
  font-size: 16px;
}

button:hover {
  color: var(--secondaryAccent);
}



.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em var(--secondaryDark));
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em var(--secondaryDark));
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}


.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
