:root {
  --mainColor: #4206A3;
  --secondaryColor: #2B036C;
  --accentColor: #646cff;
  --lightColor: #FFFFFF;
  --darkColor: #000000;
  --textColor: #FFFFFF;
}

body {
  background: rgb(214, 212, 212);
  text-align: center;
}

h1 {
  font-size: x-large;
  text-align: center;
  color: var(--mainColor);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  background-color: var(--mainColor);
  color: var(--lightColor);
}

nav a{
  margin: 0 2rem;
  color: var(--textColor);
  text-decoration: none;
}

nav a:hover {
  color: var(--accentColor);
}

header .nav-button {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--lightColor);
  visibility: hidden;   
  opacity: 0;
  font-size: 1.8rem;
}

label {
  font-size: 15px;
  display: block;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 5px;
  text-align: left;
  color: #555555;
  font-weight: bold;
}

input {
  display: block;
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  border: 1px solid #DDDDDD;
  border-radius: 3px;
  font-size: 12px;;
}

select {
  display: block;
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
}

textarea {
  resize: none;
  width: 98%;
  min-height:100px;
  max-height: 150px;
}

.form {
  background-color: var(--lightColor);
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  transition: transform 0.2s;
  width: 500px;
  text-align: center;
  margin: auto;
  margin-top: 20px;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  padding: 10px 15px;
  border-radius: 6px;
  margin: 15px;
  border: none;
  color: var(--textColor);
  cursor: pointer;
  background-color: var(--mainColor);
  width: 40%;
  font-size: 16px;
}

button:hover {
  background-color: var(--secondaryColor);
}



.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em var(--accentColor));
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em var(--lightColor));
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@media only screen and (max-width: 1024px){
  header .nav-button {
    visibility: visible;
    opacity: 1;
  }

  header nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--mainColor);
    transition: 1s;
    transform: translateY(-100vh);
  }

  header .responsive_nav {
    transform: none;
  }

  nav .nav-close-button {
    position: absoulte;
    top: 2rem;
    right: 2rem;
  }

  nav a{
    font-size: 1.5rem;
  }

}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
